#about .container {
  display: flex;
  padding: 50px;
}

.camera-section {
  align-items: center;
  display: flex;
}

.camera-img {
  max-width: 200px;
  transition: transform 0.5s ease;
}

.info-container {
  max-width:  1540px;
  margin: 0 auto;

  text-align: center;
  font-size: 48px;
}

.info-container li {
  margin-top: 10px;
  list-style-type: none;
  text-shadow: red 1px 0 10px;
}

.info-container ul {
  padding: 0;
}

@media (max-width: 500px) {

  .info-container {
    font-size: 24px;
  }

  .camera-section{
    display: none;
  }
}

@media (min-width: 501px) {
  .info-container {
    width:  calc(100vw - 260px);
    padding: 0 30px;
  }

  .left-paragraph {
    text-align: left;
    margin-bottom: 50px;
    max-width: 600px;
    margin-right: auto;
  }

  .right-paragraph {
    text-align: right;
    margin-bottom: 50px;
display: flex;

  }

  .right-paragraph p {
    max-width: 600px;
    margin-left: auto;
  }
}
