#about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;

}

.camera-section {
  flex: 0 0 auto;
  position: absolute;
  left: 100px;
  top: 0;
}

.camera-img {
  max-width: 200px;
  transition: transform 0.5s ease;
}


.info-container {
  max-width: 1150px;
  margin: auto;
  text-align: center;
  font-size: 32px;
}

.info-container li {
  list-style-type: none;
}

.info-container ul {
  padding: 0;
}

@media (max-width: 500px) {
  .camera-section{
    display: none;
  }
}
