header {
  font-family: Ponter, sans-serif;
  background-image: linear-gradient(to top, transparent, rgb(149 7 64 / 70%));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
}

.Hlogo {
  width: 64px;
  position: relative;
  z-index: 100;
}

.header {
  height: 64px;
  z-index: 3;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  transition: transform .1s linear;
}

.header.hide {
  transform: translateY(-74px);
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}


.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline;
  margin-right: 20px;
}

.menu li a {
  text-decoration: none;

}

.hamburger-menu {
  display: none; /* По умолчанию скрываем кнопку меню-гамбургер */
  font-size: 20px;
  cursor: pointer;
}


.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {

  position: fixed;
  width: 100%;
  color: #000;
  opacity: 0.95;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;

  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #117964;
  transition: color 0.3s ease-in-out;
}



@media (max-width: 500px) {

  .menu-items:target  ~ .menu-items {
    transform: translateX(-150%);
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {

    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #333;
    height: 100vh;

    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;

  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }



  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }
}

@media (max-width: 500px) {
  html {
    font-size: 65%;
  }

  .navbar .menu-items li{
    font-size: 1.6rem;
  }

  .header .main {
    margin: auto;
  }

  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 32px;
    font-weight: 500;
  }
}

@media (min-width: 501px){
  .navbar .menu-items{
    margin-left: auto;
    margin-right: 40px;
  }
}



