
#info {

  background-image: url("../img/wJAG4wnz-XY.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100vh;
}

#info.shrink {
  height: calc(100vh - 33.33vh); /* Shrink to 2/3 of full screen height */
}

#info h1 {
  margin: 100px 0 0 100px;
  font-size: 72px;
}

#info p {
  margin: 0 0 0 100px;
  font-size: 40px;
}

@media (max-width: 500px) {
  #info {

    text-shadow: #000 1px 0 10px;
  }

  #info h1 {
    margin: 60px 0 0 0;
    font-size: 65px;
  }
  #info p {
    word-spacing: 9999999px;
    margin: 20px 0 0 0;

    font-size: 40px;
  }
}
