
#info {
  /*background-image: url("../img/wJAG4wnz-XY.jpg");*/
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100vh;
  padding: 0;
}

#info.shrink {
  height: calc(100vh - 33.33vh); /* Shrink to 2/3 of full screen height */
}

.video-bg {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  position: relative;
}

.video-bg video {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
}

.video-bg-content {
  z-index: 2;
  font-size: 40px;
}

#info h1 {
  margin: 100px 0 0 100px;
  font-size: 72px;
}

#info p {
  margin: 0 0 0 100px;
  font-size: 40px;
}

@media (max-width: 500px) {
  #info {

    text-shadow: #000 1px 0 10px;
  }

  #info h1 {
    margin: 60px 0 0 0;
    font-size: 65px;
  }
  #info p {
    word-spacing: 9999999px;
    margin: 20px 0 0 0;

    font-size: 40px;
  }
}

.video-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1380px;
  margin: 0 auto;
}

#about .owl-item:nth-child(2n){
  padding-top: 100px;
}

#about .disabled{
  display: none;
}

.video-item {
  width: 300px;
  margin: 0 20px 20px;
}

.video-item video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: white 1px solid;
}

.info-video-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.caption {
  font-size: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tool-tip-text {
  font-size: 20px;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 70px;
  transform: translateX(-100%);
}

.tooltip:hover .tool-tip-text {

  visibility: visible;
}

#about .owl-stage{
  display: flex;
}
