.team-member-card {
  display: flex;
  padding: 20px;
  max-width: 380px;
  transform: perspective(1000px) rotatey(0deg) rotatex(0deg);
  border-radius: 10px;
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-position: center;
  min-height: 400px;
  background-size: cover;

}

.swiper-wrapper {
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(440px, 420px));
  grid-column-gap: 18px;
  grid-row-gap: 20px;
  justify-items: center;
}

@media (min-width: 600px) {
  .swiper-wrapper {
    max-width: calc(460px * 1);
  }
}

@media (min-width: 768px) {
  .swiper-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  }
}

@media (min-width: 992px) {
  .swiper-wrapper {
    max-width: calc(460px * 2);
    grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  }
}

@media (min-width: 1480px) {
  .swiper-wrapper {
    max-width: calc(460px * 3);
  }
}

.team-member-card:nth-child(1) {
  background-image: linear-gradient(to bottom, black, transparent, transparent, transparent, transparent, transparent),
  linear-gradient(to left, black, transparent, transparent, transparent, transparent, transparent),
  linear-gradient(to right, black, transparent, transparent, transparent, transparent, transparent),
  linear-gradient(to top, black, transparent, transparent, transparent, transparent, transparent),
  url('../img/profiles/MaksimSobolev.JPG');
}

.team-member-card:nth-child(2) {
  background-image: linear-gradient(to bottom, black, transparent, transparent, transparent, transparent, transparent),
  linear-gradient(to left, black, transparent, transparent, transparent, transparent, transparent),
  linear-gradient(to right, black, transparent, transparent, transparent, transparent, transparent),
  linear-gradient(to top, black, transparent, transparent, transparent, transparent, transparent),
  url('../img/profiles/AnnaTarasova.jpg');
}

.team-member-card:nth-child(3) {
  background-image: linear-gradient(to bottom, black, transparent, transparent, transparent, transparent, transparent),
  linear-gradient(to left, black, transparent, transparent, transparent, transparent, transparent),
  linear-gradient(to right, black, transparent, transparent, transparent, transparent, transparent),
  linear-gradient(to top, black, transparent, transparent, transparent, transparent, transparent),
  url('../img/profiles/DenisNenastin.jpg');
}

.team-member-card:nth-child(4) {
  background-image: linear-gradient(to bottom, black, transparent, transparent, transparent, transparent, transparent),
  linear-gradient(to left, black, transparent, transparent, transparent, transparent, transparent),
  linear-gradient(to right, black, transparent, transparent, transparent, transparent, transparent),
  linear-gradient(to top, black, transparent, transparent, transparent, transparent, transparent),
  url('../img/profiles/VladislavGuschin.jpg');
  background-position: top;
}

.team-member-card:nth-child(5) {
  background-image: linear-gradient(to bottom, black, transparent, transparent, transparent, transparent, transparent),
  linear-gradient(to left, black, transparent, transparent, transparent, transparent, transparent),
  linear-gradient(to right, black, transparent, transparent, transparent, transparent, transparent),
  linear-gradient(to top, black, transparent, transparent, transparent, transparent, transparent),
  url('../img/profiles/OlesyaPankova.jpg');
}

.team-member-card:nth-child(6) {
  background-image: linear-gradient(to bottom, black, transparent, transparent, transparent, transparent, transparent),
  linear-gradient(to left, black, transparent, transparent, transparent, transparent, transparent),
  linear-gradient(to right, black, transparent, transparent, transparent, transparent, transparent),
  linear-gradient(to top, black, transparent, transparent, transparent, transparent, transparent),
  url('../img/profiles/AlyonaFilipova.JPG');
  background-position: top;
}

.team-member-card:nth-child(7) {
  background-image: linear-gradient(to bottom, black, transparent, transparent, transparent, transparent, transparent),
  linear-gradient(to left, black, transparent, transparent, transparent, transparent, transparent),
  linear-gradient(to right, black, transparent, transparent, transparent, transparent, transparent),
  linear-gradient(to top, black, transparent, transparent, transparent, transparent, transparent),
  url('../img/profiles/KirillGorshenichev.jpg');
}

.team-member-card:hover {
  transform: scale(1.05); /* Увеличение при наведении */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Увеличенная тень при наведении */
}

.team-member-info{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

.team-member-info h3{
  width: 100%;
}

.team-member-text{
  width: 100%;
}

@media (max-width: 500px) {
  .swiper-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(calc(100vw - 60px), 1fr));
  }

  .team-member-info{
    font-size: 20px;
  }

  .team-member-card {
    width: calc(100vw - 60px);
  }
}
